/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
        publishDir = [
                path: { "${params.outdir}/preprocessing/fastqc" },
                mode: params.publish_dir_mode,
                pattern: "*.{html,zip}"
            ]
    }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'BUILD_PATHOGEN_DB' {
        publishDir = [
            path: { "${params.outdir}/alignment/reference" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'HOSTILE_FETCH' {
        // Publish the index to a central reference folder
        publishDir = [
            path: { "${params.outdir}/preprocessing/hostile/reference" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'FASTP' {
        ext.args   = [
            params.trim_poly_g ? '--trim_poly_g' : '',
            "--cut_front --cut_tail",
            "--cut_window_size ${params.window_size}",
            "--cut_mean_quality ${params.window_quality}", 
            "--qualified_quality_phred ${params.qualified_quality_phred}",
            "--unqualified_percent_limit ${params.unqualified_percent_limit}",
            "--length_required ${params.min_length}"
            ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/preprocessing/fastp" },
                mode: params.publish_dir_mode,
                pattern: "*.{json}"
            ]
    }

    withName: EXTRACT_FASTP_METRICS {
        publishDir = [
            path: { "${params.outdir}/preprocessing/fastp" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MERGE_FASTP_METRICS' {
        publishDir = [
                path: { "${params.outdir}/preprocessing/summary" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
            ]
    }

    withName: 'HOSTILE_CLEAN' {
        publishDir = [
            path: { "${params.outdir}/preprocessing/hostile/dehosted" },
            mode: params.publish_dir_mode,
            pattern: "*.json"
        ]
    }

     withName: 'EXTRACT_HOSTILE_METRICS' {
        publishDir = [
            path: { "${params.outdir}/preprocessing/hostile/dehosted" },
            mode: params.publish_dir_mode,
            pattern: "*.tsv"
        ]
    }

    withName: 'MERGE_HOSTILE_METRICS' {
        publishDir = [
                path: { "${params.outdir}/preprocessing/summary" },
                mode: params.publish_dir_mode,
                pattern: "*.tsv"
            ]
    }

    withName: 'DOWNLOAD_NCBI_TAXONOMY' {
        publishDir = [
            path: { "${params.outdir}/alignment/ncbi/taxonomy" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'NCBI_DOWNLOAD_PATHOGEN' {
        time = 4.h
        ext.args = [
        "--assembly-source ${params.assembly_source}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/alignment/${params.target_pathogen_taxid}/references/genome" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,tsv}"
        ]
    }

    withName: 'CONCATENATE_PATHOGEN_INDICATOR_GENOMES' {
        publishDir = [
            path: { "${params.outdir}/alignment/${params.target_pathogen_taxid}/references/genome" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,tsv}"
        ]
    }

    withName: 'MINIMAP2_INDEX_SINGLE' {
        publishDir = [
            path: { "${params.outdir}/alignment/${params.target_pathogen_taxid}/references/index" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MINIMAP2_ALIGN_SINGLE' {
        ext.args2 = [ 
            "-q ${params.min_mapq}"
            ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/alignment/${params.target_pathogen_taxid}/minimap2" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt}"
        ]
    }

    withName: 'COMPUTE_PATHOGEN_METRICS_SINGLE' {
        publishDir = [
            path: { "${params.outdir}/alignment/${params.target_pathogen_taxid}/minimap2" },
            mode: params.publish_dir_mode,
            pattern: "*.{csv}"
        ]
    }

    withName: 'NCBI_DOWNLOAD_BATCH' {
        ext.args = [
        "--assembly-source ${params.assembly_source}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/alignment/references/pathogens/genome" },
            mode: params.publish_dir_mode,
            pattern: "*.{fasta,tsv}"
        ]
    }

    withName: 'SAMTOOLS_FAIDX_TARGET' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/references/index" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MINIMAP2_INDEX_TARGET' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/references/index" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'MINIMAP2_ALIGN_TARGET' {
        ext.args2 = [ 
            "-q ${params.min_mapq}"
            ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/minimap2" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt}"
        ]
    }

    withName: 'LOFREQ_INDELQUAL' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/indelqual" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_INDEX_INDELQUAL' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/indelqual" }
        ]
    }

    withName: 'LOFREQ_VITERBI' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/viterbi" },
            suffix: "*.realign.sorted"
        ]
    }

    withName: 'SAMTOOLS_INDEX_VITERBI' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/viterbi" },
        ]
    }

    withName: GENERATE_MASK {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/bcftools" }
        ]
    }

    withName: BCFTOOLS_NORM {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/bcftools" }
        ]
    }

    withName: BCFTOOLS_CONSENSUS {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/bcftools" }
        ]
    }

    withName: BCFTOOLS_FILTER {
        ext.args = { "--output-type z -i 'QUAL > ${params.min_qual_score}'" }
        ext.prefix = { "${meta.id}.filtered" }
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/bcftools" }
        ]
    }

    withName: 'LOFREQ_CALLPARALLEL' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/variants" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'LOFREQ_FILTER' {
        ext.args = [
        "--cov-min ${params.min_depth}",
        "--sb-mtc ${params.multiple_testing_correction}",
        "--sb-alpha ${params.strand_bias_threshold}",
        "--af-min ${params.min_allele_freq}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/filtered-variants" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'REHEADER_VCF' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/lofreq/filtered-variants" },
            mode: params.publish_dir_mode,
            pattern: "{*.vcf.gz}"
        ]
    }

    withName: 'CALCULATE_DIVERSITY' {
        publishDir = [
            path: { "${params.outdir}/diversity/${params.target_pathogen_taxid}/metrics" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv,txt}"
        ]
    }

    withName: PROKKA_ANNOTATE_CONSENSUS {
        ext.args = [
            "--compliant",
            "--centre ILRI",
            "--genus ${params.genus}",
            "--species ${params.species}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/prokka" }
        ]
    }

    withName: BAKTA_BAKTA {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/bakta" }
        ]
        stageInMode = 'symlink'
    }


    withName: 'ABRICATE_CONSENSUS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/abricate" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'AMRFINDERPLUS_CONSENSUS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/${params.target_pathogen_taxid}/amrfinder" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'MEGAHIT' {
       ext.args = [
        "--k-min ${params.kmin}", 
        "--k-max ${params.kmax}",
        "--k-step ${params.kstep}",
        "--min-contig-len ${params.min_contig_length}",
        "--tmp-dir /tmp"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/megahit" },
                mode: params.publish_dir_mode
        ]
    }
    withName: 'QUAST' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/quast" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'ALIGN_TO_CONTIGS ' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/alignment" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'MINIMAP2_ALIGN ' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/minimap2" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'SAMTOOLS_SORT' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/alignment" },
            suffix: "*.sorted"
        ]
    }

    withName: 'SAMTOOLS_INDEX' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/alignment" }
        ]
    }

    withName: 'COVERM_CONTIG' {
        ext.args = [
            "-m ${params.coverm_method}" 
            ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/coverm" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'METABAT2_SUMMARIZE_DEPTHS' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/metabat2" }
        ]
    }

    withName: 'MAXBIN2_PILEUP_COVERAGE' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/maxbin2" }
        ]
    }

    withName: 'MAXBIN2_PILEUP_COVERAGE' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/maxbin2" }
        ]
    }

    withName: 'MAXBIN2' {
        ext.args = [
            "-min_contig_length ${params.maxbin2_min_contig}"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/maxbin2" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'METABAT2_METABAT2' {
        ext.args = [
            "-m ${params.metabat2_min_contig}"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/metabat2" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'CONCOCT_CONCOCT' {
        ext.args = [
            "-l ${params.concoct_min_contig}"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/concoct" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'DASTOOL_DASTOOL' {
        ext.args = [
            "--score_threshold ${params.score_threshold}"
        ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/dastool" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'CONCOCT_EXTRACTFASTABINS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/concoct" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'DASTOOL_FASTATOCONTIG2BIN' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/dastool" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'GENOMAD_ENDTOEND' {
        ext.args = [
            "--cleanup",
            "--min-score ${params.genomad_min_score}",
            "--splits ${params.genomad_splits}"
            ].join(' ').trim()
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/genomad" },
                mode: params.publish_dir_mode
        ]
    }
    withName: 'CHECKV_ENDTOEND' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/checkv" },
                mode: params.publish_dir_mode
        ]
    }
    withName: 'CHECKM2_PREDICT' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/checkm" },
                mode: params.publish_dir_mode
        ]
    }
    withName: 'GTDBTK_CLASSIFYWF' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/gtdbtk" },
                mode: params.publish_dir_mode
        ]
    }
    withName: 'ABRICATE_CONTIGS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/abricate" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'ABRICATE_BINS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/abricate" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'AMRFINDERPLUS_CONTIGS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/amrfinder" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'AMRFINDERPLUS_BINS' {
        publishDir = [
                path: { "${params.outdir}/${params.analysis_type}/amrfinder" },
                mode: params.publish_dir_mode
        ]
    }

    withName: 'KRAKEN2_KRAKEN2' {
        ext.args = [
            "--confidence ${params.confidence}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: "*.report.txt"
        ]
    }
    withName: 'KRAKENTOOLS_KREPORT2MPA_KRAKEN2' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/kraken2" },
            mode: params.publish_dir_mode,
            pattern: "*.{mpa}"
        ]
    }

    withName: EXTRACT_DOMAIN_METRICS_KRAKEN2 {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/kraken2" },
            mode: params.publish_dir_mode
        ]
    }

    withName: 'BRACKEN_BRACKEN' {
        ext.args = [
            "-l ${params.bracken_classification_level}"
        ].join(' ').trim()
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/bracken" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv}"
        ]
    }
    withName: 'KRAKENTOOLS_KREPORT2MPA_BRACKEN' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/bracken" },
            mode: params.publish_dir_mode,
            pattern: "*.{mpa}"
        ]
    }

    withName: 'MERGE_MPA_REPORTS' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/summary" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt}"
        ]
    }

    withName: EXTRACT_DOMAIN_METRICS_BRACKEN {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/bracken" },
            mode: params.publish_dir_mode
        ]
    }
    

    withName: 'MERGE_DOMAIN_METRICS' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/summary" },
            mode: params.publish_dir_mode,
            pattern: "*.{tsv}"
        ]
    }

    withName: 'NORMALIZE_ABUNDANCES' {
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/summary" },
            mode: params.publish_dir_mode,
            pattern: "*.{txt}"
        ]
    }
    
    withName: 'KRAKENUNIQ_RUN' {
        ext.args = '--preload --fastq-input'
        publishDir = [
            path: { "${params.outdir}/${params.analysis_type}/krakenuniq" },
            mode: params.publish_dir_mode,
            pattern: "*.report.tsv"
        ]
    }
    withName: 'PATHOGEN_METRICS' {
        publishDir = [
            path: { "${params.outdir}/metrics" },
            mode: params.publish_dir_mode,
            pattern: "*.{csv}"
        ]
    }

    withName: 'GENERATE_REPORT' {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            pattern: "*.{csv,png}"
        ]
    }
}
